<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <form class="product-form"
                    action="/admin/<% if(editMode) { %>edit-product/<%= product.id %> <% }else { %>add-product<% } %>"
                    method="POST">
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title"
                            value="<% if(editMode) { %><%= product.title %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="imgLink">Image</label>
                        <input type="text" name="imgLink" id="imgLink"
                            value="<% if(editMode) { %><%= product.imgLink %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price"
                            value="<% if(editMode) { %><%= product.price %><% } %>">
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="40" rows="10"
                            placeholder="Provide some dummy text..."><% if(editMode) {%><%= product.description %><% } %>
                        </textarea>
                    </div>
                    <button class="btn" type="submit">
                        <% if(editMode===true ){ %>Save Product <% } else{ %> Add Product <% } %>
                    </button>
                </form>
            </main>
            <%- include('../includes/end.ejs') %>